:root {
  --bg: #ffffff;
  --text: #000000;
  --card-bg: #ffffff;
  --btn-bg: #65171e;      /* Search button color */
  --btn-text: #ffffff;
  --border: #fff9f9;
  --range-thumb: #65171e;
  --hover-btn: #484d62;    /* Apply hover button */
  
}

/* Dark mode using data-theme attribute */
[data-theme="dark"] {
  --bg: #080c2d;           /* background */
  --text: #ffffff;
  --card-bg: #16192e;      /* Darker cards and sidebar */
  --btn-bg: #602626;        /* search button */
  --btn-text: #ffffff;
  --border: #ffffff;
  --range-thumb: #5d1c1c;   /*  slider */
  --hover-btn: #455470;     /*buttons */
}

body {
  padding-top: 65px;
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.page-content {
  display: flex;
  flex: 1;
  gap: 0rem;
  width: 100%;
}
.container {
  width: 280px;
  background-color: var(--card-bg);
  border-right: 1px solid var(--border);
  padding: 20px;
  overflow-y: auto;
  flex-shrink: 0;
  transition: background 0.3s ease, color 0.3s ease;
}
.right_container {
  flex: 1;
  background-color: var(--card-bg);
  padding: 0px;
  overflow-y: auto;
  transition: background 0.3s ease, color 0.3s ease;
}
.card, .profile-card {
  background-color: var(--card-bg);
  color: var(--text);
  margin-bottom: 1rem;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.card .btn, .profile-card .btn {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card .btn:hover, .profile-card .btn:hover {
  background-color: var(--hover-btn);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.form-control, .form-select {
  background-color: var(--card-bg);
  color: var(--text);
  border: 1px solid var(--border);
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.form-range {
  accent-color: var(--range-thumb);
}

footer.footer {
  background-color: var(--card-bg);
  color: var(--text);
  padding: 80px 20px;
  border-top: 1px solid var(--border);
  margin-top: auto;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

footer.footer .container {
  width: 100% !important;
  max-width: 100% !important;
  border: none !important;
  display: block !important;
  padding: 0 !important;
}

footer.footer p {
  margin: 0;
  display: block;
  white-space: nowrap;
}

footer.footer small {
  display: block;
  margin-top: 5px;
  color: gray;
}

#clear {
  color: rgb(113, 112, 147) !important;
  size-adjust:auto!important;
}
